.NewsTopicList {
    display: flex;
    padding-top: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.span {
    display: flex;
    align-items: center;
}