.NewsArticle {
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
    padding-left: 20px;
    display: flex;
}

.MainNewsArticle {
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 20px;
    display: flex;
}

.NewsArticleWithLink a{
    color: black;
    text-decoration: none;
}

.NewsArticleWithLink a:hover {
    color: black;
    text-decoration: underline;
}

.articleNewspaper {
    display: flex;
    justify-content: flex-end;
}

.articleNewspaper img {
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 1px;
    height: 16px;
    width: 16px;
}