.newsClusters {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
}
.button-full-coverage {
    padding-right: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;

}

.button-full-coverage button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 18px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(141, 137, 137) rgb(186, 186, 186);
    border-image: initial;
}